---
layout: default
---

<div class="post-header mb2">
  <h1 class="py2">{{ page.title }}</h1>
  <span class="{{ page.categories }}-icon category-icon" title="{{ page.categories }}"></span>
  <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
</div>

<article class="post-content">
  {{ content }}
</article>

<article class="comments">
  <a class="muut" href="https://muut.com/i/bronzehedwick/comments" type="dynamic">bronzehedwick forum</a> <script src="//cdn.muut.com/1/moot.min.js"></script>
</article>
